<div ng-cloak style="background-color: #f1f7f9;">
<nav class="navbar navbar-default navbar-transparent" style="background-color:#e0e0e0;margin-bottom: 0px !important;height:auto">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <div class="navbar-brand" style="font-family: 'Roboto', sans-serif; font-weight:300;  color:black;">Home - Project List</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" align="right" style="float:right;margin-right:2.7%;">
      <ul class="nav navbar-nav">
      <li role="button" ng-click="spadeInfo()"><ng-md-icon icon="info_outline" style="display:block;margin-top:12px;fill:black" size="25"></ng-md-icon></li>
      </ul>
    </div>
  </div>
</nav>
	<div>
	<md-card class="md-whiteframe-z2" style="font-family: 'Roboto', sans-serif; font-weight: 300; color: black;">
	<h2 style="padding-left:6%">Select a project</h2>
		<md-card-content>
			<div layout="row">
		
		<div style="padding-left: 5%; padding-top: 1%; width: 100%">
			<md-button class="md-raised md-primary md-hue-1 listing" style="font-size: large; margin-right:5%" ng-repeat="project in projects" 
			ui-sref="stats" ng-click="setCurrentProject(project.name)">
			<div layout="column" style="font-family: 'Roboto', sans-serif;font-weight:700;color: white" >
				<div layout="column">
		  			 <span style="text-transform: capitalize;">{{project.name}}</span>
		  			 <span>{{project.description}}</span>
		  		</div>
			  	<div layout="row">
			  	<img alt="servers" src="assets/images/appbar.server.png">
			  		<h4 style="margin-top: auto;margin-bottom: auto;">{{project.environments.length}} Application Stacks</h4>
			  	</div>
		  	</div> 
	  </md-button>
  </div>
		</div>
	</md-card-content>
	</md-card>
		
	</div>
</div>

