<div ng-cloak style="background-color: #f1f7f9;"></div>
<!-- <md-toolbar md-scroll-shrink layout-row style="background-color:gray;">
    <div class="md-toolbar-tools" flex flex-order="1">
      <h3>
        <span>Provisioning - Project List</span>
      </h3>
       <div flex flex-order="3" align="left">
    [flex-order="3"]
  </div>
    </div>
   
  </md-toolbar> -->
<nav class="navbar navbar-default navbar-transparent" style="background-color:#bdbdbd;margin-bottom: 0px !important;height:auto">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <div class="navbar-brand" style="font-family: 'Roboto', sans-serif; font-weight:300;  color:black;">Infrastructure Dashboard - Resource View</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" align="right" style="float:right;margin-right:10%;">
      <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="font-family: 'Roboto', sans-serif; font-weight: 300; color: black;">Switch View <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="statstable">Table View</a></li>
            <li><a ui-sref="stats">Resource View</a></li>
          </ul>
        </li>
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="font-family: 'Roboto', sans-serif; font-weight: 300; color: black;">
          <div layout="row"><ng-md-icon icon="person" style="fill:black" size="20"></ng-md-icon><span style="display:block; margin-top:11px;" class="caret"></span></div></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Profile</a></li>
            <li><a href="">Statistics</a></li>
            <li><a ng-click="logout()" href="">Logout</a></li>
          </ul>
        </li>
        
        <li ><a ui-sref="home"><ng-md-icon icon="home" style="fill:black" size="20"></ng-md-icon></a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
<div id="outer" >
	<md-card id="buttons" layout="row" >
		<md-button class="md-raised md-primary" style="padding:5px 20px 5px 20px;" ng-click="create()">Create</md-button>
		<div class="gap"></div>
		<md-button class="md-raised md-warn" style="padding:5px 20px 5px 20px;" ng-click="confirmDel($event, selectedPod)">Delete</md-button>
	</md-card>
	
    <md-card id="main" class="md-whiteframe-z2" flex>
    <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
	<thead>
	<tr>
		<th ng-repeat="header in headers" style="text-align:left;">{{header}}</th>
	</tr>
	<tr>
		
	</tr>
	
	</thead>
	<tbody>
	<tr ng-repeat="pod in pods"
		ng-click="pod.$selected = !pod.$selected; changeSelection(pod)"
		ng-class="{'st-selected': pod.$selected}">
		<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
			{{pod.labels.name}}
		</td>
		<td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">
			{{pod.id}}
		</td>
		<td data-title="'Project'" sortable="'project'" filter="{ 'project': 'text' }">
			{{pod.labels.project}}
		</td>
		<td data-title="'Stack'" sortable="'stack'" filter="{ 'stac': 'text' }">
			{{pod.labels.stack}}
		</td>
		<td ng-repeat="container in pod.desiredState.manifest.containers">
			{{container.name}}
		</td>
    	<td data-title="'Host'" sortable="'host'" filter="{ 'host': 'text' }">
			{{pod.currentState.host}}
		</td>
		<td ng-repeat="container in pod.desiredState.manifest.containers">
			<div ng-repeat="port in container.ports">{{pod.currentState.host}}:{{port.hostPort}}</div></td>
		<td>
<!-- 		pod.currentState.status|switch:{'Running:'status-running','Pending:'status-pending','Failed:'status-failed' -->
			<ng-md-icon icon="brightness_1"
			 style="fill:{{statusColors[pod.currentState.status]}}" size="24" >
				<md-tooltip>{{pod.currentState.status}}</md-tooltip>
			</ng-md-icon></td>
	</tr>
	</tbody>
	<tfoot>
	
	</tfoot>
</table>
<!--     <table st-table="displayedPods" st-safe-src="pods" class="table table-striped"> -->
<!-- 	<thead> -->
<!-- 	<tr> -->
<!-- 		<th st-sort="header" ng-repeat="header in headers">{{header}}</th> -->
<!-- 	</tr> -->
<!-- 	<tr> -->
<!-- 		<th colspan="8"> -->
<!-- 			<input st-search class="input-sm form-control" type="search" placeholder="Filter..." /> -->
<!-- 		</th> -->
<!-- 	</tr> -->
<!-- 	</thead> -->
<!-- 	<tbody> -->
<!-- 	<tr st-select-row="pod" st-select-mode="multiple" ng-repeat="pod in displayedPods"> -->
<!-- 		<td>{{pod.labels.name}}</td> -->
<!-- 		<td>{{pod.id}}</td> -->
<!-- 		<td>{{pod.labels.project}}</td> -->
<!-- 		<td>{{pod.labels.stack}}</td> -->
<!-- 		<td ng-repeat="container in pod.desiredState.manifest.containers">{{container.name}}</td> -->
<!-- 		<td>{{pod.currentState.host}}</td> -->
<!-- 		<td></td> -->
<!-- 		<td><ng-md-icon icon="check_circle" style="color:green"><md-tooltip>{{pod.currentState.status}}</md-tooltip></ng-md-icon></td> -->
<!-- 	</tr> -->
<!-- 	</tbody> -->
<!-- 	<tfoot> -->
<!-- 	<tr> -->
<!-- 		<td colspan="8" class="text-center"> -->
<!-- 			<div st-pagination="" st-items-by-page="3" st-displayed-pages="3"></div> -->
<!-- 		</td> -->
<!-- 	</tr> -->
<!-- 	</tfoot> -->
<!-- </table> -->
    </md-card>
    
</div>
</div>
