<div ng-cloak style="background-color: #f1f7f9;">
<!-- <md-toolbar md-scroll-shrink layout-row style="background-color:gray;">
    <div class="md-toolbar-tools" flex flex-order="1">
      <h3>
        <span>Provisioning - Project List</span>
      </h3>
       <div flex flex-order="3" align="left">
    [flex-order="3"]
  </div>
    </div>
   
  </md-toolbar> -->
<nav class="navbar navbar-default" style="background-color:gray;">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <div class="navbar-brand" style="color: white;">Provisioning - Project Lists</div>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" align="right" style="float:right;margin-right:10%;">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white;">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div>
<md-grid-list class="md=padding" id='outer'>
    <div id="main" style="width:500px; height:200px; margin: 0px auto; ">
    	<h2>MONITORING</h2>
    	
    	<md-grid-tile ng-repeat="slave in slaves track by $index" >
    		<div ng-init="drawCharts" ng-cloak></div>
    		<div>
    		<pie-chart data="slave.data" options="options"></pie-chart>
<!-- 			<div firstone slave='slave' tasks='tasks'></div> -->
			<div><h4>{{slave.hostname}}</h4></div>
<!--     		<div ng-repeat="task in tasks" ></div> -->
			</div>
		</md-grid-tile>
    </div>
</md-grid-list>
</div>