<div ng-cloak style="background-color: #f1f7f9;"></div>
<!-- <md-toolbar md-scroll-shrink layout-row style="background-color:gray;">
    <div class="md-toolbar-tools" flex flex-order="1">
      <h3>
        <span>Provisioning - Project List</span>
      </h3>
       <div flex flex-order="3" align="left">
    [flex-order="3"]
  </div>
    </div>
   
  </md-toolbar> -->
<nav class="navbar navbar-default navbar-transparent" style="background-color:#e0e0e0;margin-bottom: 0px !important;height:auto">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <div class="navbar-brand" style="font-family: 'Roboto', sans-serif; font-weight:300;  color:black;">Infrastructure Dashboard - Resource View</div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" align="right" style="float:right;margin-right:10%;">
      <ul class="nav navbar-nav">
      <li class="dropdown">
          <a href="" class="dropdown-toggle md-accent" data-toggle="dropdown" role="button" aria-expanded="false" style="font-family: 'Roboto', sans-serif; font-weight: 300; color: black;">Project: Demo <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="home">Radv</a></li>
          </ul>
        </li>
      <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="font-family: 'Roboto', sans-serif; font-weight: 300; color: black;">Switch View <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="statstable">Table View</a></li>
            <li><a ui-sref="stats">Resource View</a></li>
          </ul>
        </li>
     
      </ul>
    </div>
  </div>
</nav>

<div>
<div id="outer">
    <div id="main" class="">
    <md-card id="buttons" layout="row" >
		<md-button class="md-raised md-primary" style="padding:5px 20px 5px 20px;" ng-click="create()">Create</md-button>
	</md-card>
		
     <md-tabs class="tabsDemoStaticTabs sample title" flex>
     	<md-tab label="CPU" role="tab-panel" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
     	<md-card id="cpulegend" class="md-whiteframe-z2" layout="row" flex>
			<md-card ng-repeat="(stack, color) in colors" layout="row">
     		<ng-md-icon icon="brightness_1"
			 style="fill:{{color}}" size="24" >
			</ng-md-icon>
			<div>{{stack}}</div>
			</md-card>
     	</md-card>
     	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" ng-hide="slave.cpuData.length==1" flex>
     		<nvd3-pie-chart
            data="slave.cpuData"
            donut="true"
            donutRatio=".45"
            margin="{left:0,top:0,bottom:0,right:0}"
            x="xFunction()"
            y="yFunction()"
            showLabels="false"
            tooltips="true"
            height="250"
            width="250"
            tooltipContent="tooltipFunction()"
            color="getColor(slave.cpuData)"
            pieLabelsOutside="false"
            showValues="false"
            labelType="percent">
        <svg height="250"></svg>
    </nvd3-pie-chart>
			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content>
		</md-card>
		
     	</md-tab>
     	
     	<md-tab label="Memory" role="tab-panel" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
     	<md-card id="memlegend" class="md-whiteframe-z2" layout="row" flex>
			<md-card ng-repeat="(stack, color) in colors" layout="row">
     		<ng-md-icon icon="brightness_1"
			 style="fill:{{color}}" size="24" >
			</ng-md-icon>
			<div>{{stack}}</div>
			</md-card>
     	</md-card>
     	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" ng-hide="slave.memData.length==1" flex>
    		<nvd3-pie-chart
            data="slave.memData"
            donut="true"
            donutRatio=".45"
            margin="{left:0,top:0,bottom:0,right:0}"
            x="xFunction()"
            y="yFunction()"
            showLabels="false"
            tooltips="true"
            height="250"
            width="250"
            tooltipContent="tooltipFunction()"
            color="getColor(slave.memData)"
            pieLabelsOutside="false"
            showValues="false"
            labelType="percent">
        <svg height="250"></svg>
    </nvd3-pie-chart>
			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content>
		</md-card>
     	</md-tab>
     	
     	<md-tab label="Storage" role="tab-panel" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
     	<md-card id="disklegend" class="md-whiteframe-z2" layout="row" flex>
			<md-card ng-repeat="(stack, color) in colors" layout="row">
     		<ng-md-icon icon="brightness_1"
			 style="fill:{{color}}" size="24" >
			</ng-md-icon>
			<div>{{stack}}</div>
			</md-card>
     	</md-card>
     	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" ng-hide="slave.diskData.length==1" flex>
    		<nvd3-pie-chart
            data="slave.diskData"
            donut="true"
            donutRatio=".45"
            margin="{left:0,top:0,bottom:0,right:0}"
            x="xFunction()"
            y="yFunction()"
            showLabels="false"
            tooltips="true"
            height="250"
            width="250"
            tooltipContent="tooltipFunction()"
            color="getColor(slave.diskData)"
            pieLabelsOutside="false"
            showValues="false"
            labelType="percent">
        <svg height="250"></svg>
    </nvd3-pie-chart>
			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content>
		</md-card>
     	</md-tab>
     	</md-tabs>
     	</div>
    </div>
    
</div>
</div>
<!-- 	     	<md-card class="un-25 md-whiteframe-z2" flex><nvd3 options="options2" data="data" config="chartConfig" api="api" class="un-25 chart md-whiteframe-z2" style="height:100%"flex></nvd3></md-card> -->
	
<!-- 	<div class="tabsdemoStaticTabs sample" flex> -->
<!-- 			    <md-tabs class="" md-selected="data.selectedIndex" style="" flex> -->
<!-- 				      <md-tab  aria-controls="tab1-content" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;"> -->
<!-- 				        	Web Server -->
<!-- 				      </md-tab> -->
<!-- 				      <md-tab  aria-controls="tab2-content" ng-disabled="data.secondLocked" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;"> -->
<!-- 				        	App Server -->
<!-- 				      </md-tab> -->
<!-- 				      <md-tab  aria-controls="tab3-content" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;"> -->
<!-- 				        	Database -->
<!-- 				      </md-tab> -->
<!-- 			    </md-tabs> -->
<!--     <ng-switch on="data.selectedIndex" class="tabpanel-container" > -->
<!--         <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0"> -->
<!-- 				<md-card id="cpulegend" class="md-whiteframe-z2" layout="row" flex> -->
<!-- 			<md-card ng-repeat="(stack, color) in colors" layout="row"> -->
<!--      		<ng-md-icon icon="brightness_1" -->
<!-- 			 style="fill:{{color}}" size="24" > -->
<!-- 			</ng-md-icon> -->
<!-- 			{{stack}} -->
<!-- 			</md-card> -->
<!--      	</md-card> -->
<!--      	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" flex> -->
<!--      		<nvd3-pie-chart -->
<!--             data="slave.cpuData" -->
<!--             donut="true" -->
<!--             donutRatio=".45" -->
<!--             margin="{left:0,top:0,bottom:0,right:0}" -->
<!--             x="xFunction()" -->
<!--             y="yFunction()" -->
<!--             showLabels="false" -->
<!--             tooltips="true" -->
<!--             height="250" -->
<!--             width="250" -->
<!--             tooltipContent="tooltipFunction()" -->
<!--             color="getColor(slave.cpuData)" -->
<!--             pieLabelsOutside="false" -->
<!--             showValues="false" -->
<!--             labelType="percent"> -->
<!--         <svg height="250"></svg> -->
<!--     </nvd3-pie-chart> -->
<!-- 			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content> -->
<!-- 		</md-card>			 -->
<!--         </div> -->
        
<!--         <div role="tabpanel" -->
<!--              id="tab2-content" -->
<!--              aria-labelledby="tab2" -->
<!--              ng-switch-when="1"> -->
<!--             <md-card id="memlegend" class="md-whiteframe-z2" layout="row" flex> -->
<!-- 			<md-card ng-repeat="(stack, color) in colors" layout="row"> -->
<!--      		<ng-md-icon icon="brightness_1" -->
<!-- 			 style="fill:{{color}}" size="24" > -->
<!-- 			</ng-md-icon> -->
<!-- 			{{stack}} -->
<!-- 			</md-card> -->
<!--      	</md-card> -->
<!--      	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" flex> -->
<!--     		<nvd3-pie-chart -->
<!--             data="slave.memData" -->
<!--             donut="true" -->
<!--             donutRatio=".45" -->
<!--             margin="{left:0,top:0,bottom:0,right:0}" -->
<!--             x="xFunction()" -->
<!--             y="yFunction()" -->
<!--             showLabels="false" -->
<!--             tooltips="true" -->
<!--             height="250" -->
<!--             width="250" -->
<!--             tooltipContent="tooltipFunction()" -->
<!--             color="getColor(slave.memData)" -->
<!--             pieLabelsOutside="false" -->
<!--             showValues="false" -->
<!--             labelType="percent"> -->
<!--         <svg height="250"></svg> -->
<!--     </nvd3-pie-chart> -->
<!-- 			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content> -->
<!-- 		</md-card> -->
<!--         </div> -->
<!--         <div role="tabpanel" -->
<!--              id="tab3-content" -->
<!--              aria-labelledby="tab3" -->
<!--              ng-switch-when="2"> -->
<!--             <md-card id="disklegend" class="md-whiteframe-z2" layout="row" flex> -->
<!-- 			<md-card ng-repeat="(stack, color) in colors" layout="row"> -->
<!--      		<ng-md-icon icon="brightness_1" -->
<!-- 			 style="fill:{{color}}" size="24" > -->
<!-- 			</ng-md-icon> -->
<!-- 			{{stack}} -->
<!-- 			</md-card> -->
<!--      	</md-card> -->
<!--      	<md-card ng-repeat="slave in slaves" class="un-25 chart md-whiteframe-z2" flex> -->
<!--     		<nvd3-pie-chart -->
<!--             data="slave.diskData" -->
<!--             donut="true" -->
<!--             donutRatio=".45" -->
<!--             margin="{left:0,top:0,bottom:0,right:0}" -->
<!--             x="xFunction()" -->
<!--             y="yFunction()" -->
<!--             showLabels="false" -->
<!--             tooltips="true" -->
<!--             height="250" -->
<!--             width="250" -->
<!--             tooltipContent="tooltipFunction()" -->
<!--             color="getColor(slave.diskData)" -->
<!--             pieLabelsOutside="false" -->
<!--             showValues="false" -->
<!--             labelType="percent"> -->
<!--         <svg height="250"></svg> -->
<!--     </nvd3-pie-chart> -->
<!-- 			<md-card-content flex style="text-align:center"><h4>{{slave.hostname}}</h4></md-card-content> -->
<!-- 		</md-card> -->
						
<!--         </div> -->
<!--     </ng-switch> -->
<!--     <div layout="row"> -->
   
<!--     </div> -->
<!-- </div> -->