<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')" ng-cloak="" style="width: 260px;min-width: 260px;height:auto !important;background-color: #bdbdbd;">
<!-- <ng-switch on="">	         -->
	
	<div ng-show="isAuthenticated()">
	  <accordion close-others="oneAtATime">
	    <accordion-group>
	      <accordion-heading><span><img src="assets/images/appbar.home.png" height="34px"></span><a ui-sref="home"><span style="font-family: 'Roboto', sans-serif;font-weight:500;">Home</span></a></accordion-heading>
	    </accordion-group>
	    <accordion-group is-disabled="status.isFirstDisabled">
	    <accordion-heading><span><img src="assets/images/appbar.database.png" height="34px"></span><span style="font-family: 'Roboto', sans-serif;font-weight:500;">Provisioning</span></accordion-heading>
	      <ul>
	        <li><a ng-click="app.open()" href="#"><span style="font-family: 'Roboto', sans-serif;font-weight:300;">IaaS</span></a></li>
	        <li><a ng-click="templates()" href="#"><span style="font-family: 'Roboto', sans-serif;font-weight:300;">Templates</span></a></li>
	        <li><a ng-click="logout()" href="#"><span style="font-family: 'Roboto', sans-serif;font-weight:300;">Logout</span></a></li>
	      </ul>
	    </accordion-group>
	    <accordion-group>
	    <accordion-heading><span><img src="assets/images/appbar.graph.line.png" height="34px"></span><span style="font-family: 'Roboto', sans-serif;font-weight:500;">Metrics</span></accordion-heading>
	      <ul>
	        <li><a ui-sref="devops"><span style="font-family: 'Roboto', sans-serif;font-weight:300;">DevOps Dashboard</span></li>
	        <li><a ui-sref="stats"><span style="font-family: 'Roboto', sans-serif;font-weight:300;">Infrastructure Dashboard</span></a></li>
	        <!-- <li>Performance Dashboard</li>
	        <li><a href="#">SOC Dashboard (Security Operations Center)</a></li>
	        <li>NOC Dashboard (Network Operations Dashboard)</li>
	        <li>Project Management Dashboard</li> -->
	      </ul>
	    </accordion-group>
	  </accordion>
	</div>
	</md-sidenav>
