<div>
	<!-- <div layout=column>
		<div class="container">
			heyheyheyheyheyheyheyheyheyheyheyheyheyheyheyheyheyheyheyheyhey</div> -->

	<div layout="column" class="container" style="margin-top: 10%;">

		<div layout="row">
			<div flex="60">
				<md-toolbar class="md-warn">
				<div class="md-toolbar-tools">
					<span class="md-flex">Choose your OS:</span>
				</div>
				</md-toolbar>
				<md-content class="md-padding" style="height: auto;padding: 24px;">
				<md-radio-group ng-model="os.name"> 
					<md-radio-button value="Ubuntu">Ubuntu</md-radio-button>
					<md-radio-button value="Fedora">Fedora</md-radio-button> 
				</md-radio-group> 
				<footer	style="">
					<div align="right">
						<md-button ng-disabled="true" class="md-raised md-primary"
							style="">Back</md-button>
						<md-button class="md-raised md-primary" ng-click="showConfirm($event)">Next</md-button>
					</div>
				</footer></md-content>
			</div>

			<div flex="33" style="left: 80%; position: fixed;">
				<md-toolbar class="md-warn">
				<div class="md-toolbar-tools">
					<span class="md-flex">Your Container</span>
				</div>
				</md-toolbar>
				<md-content class="md-padding" style="height: auto;padding: 24px;">
				<md-subheader class="md-primary">Operating System</md-subheader>
				<span>{{os.name}}</span>
				<md-divider></md-divider>
				<md-subheader class="md-primary">Application</md-subheader>
				<span>{{selectedApp}}</span>
				<md-divider></md-divider>
				<md-subheader class="md-primary">Name</md-subheader>
				<span>{{appName}}</span>
				<md-divider></md-divider>
				<md-subheader class="md-primary">Replica Count</md-subheader>
				<span>{{replicaCount}}</span>
				<md-divider></md-divider>
				<md-button class="md-raised md-primary" style="margin-top:5%;">Launch</md-button>
				</md-content>
				
			</div>
		</div>

		<div flex="33" style="width: 60%; margin-top: 2%;">
			<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<span class="md-flex">Choose your Application:</span>
			</div>
			</md-toolbar>
			<md-content class="md-padding" style="height: auto;padding: 24px;">
			<select ng-model="selectedApp">
				<option selected="selected">Select an Application</option>
				<option ng-value="application" ng-repeat="app in applications.items">{{app.app}}
					</md-option>
			</select> 
			</md-content>
		</div>

		<div flex="33" style="width:60%;margin-top: 2%;height: 100%;">
				<md-toolbar class="md-warn">
				<div class="md-toolbar-tools">
					<span class="md-flex">Name your Container and Replica Count</span>
				</div>
				</md-toolbar>
			<md-content layout="row" style="height: auto;padding: 24px;">
			<md-input-container>
      <label>Application Name</label>
      <input ng-model="appName">
    </md-input-container>
    <md-input-container>
      <label>Replica Count</label>
      <input ng-model="replicaCount" type="number">
    </md-input-container>
			
			</md-content>
		</div>
		
		
	</div>
</div>
<!-- <div flex layout="row" style="margin-top: 10%; margin-right: 10%;">
		<div class="">
			<div flex class="container" style="font-size: 70px;">
				<md-toolbar style="height:70px;">
				<h2 class="md-toolbar-tools">
					<span>Choose Your OS:</span>
				</h2>
				</md-toolbar>
			</div>
			<md-content class="" style="height: auto;"> <md-radio-group>
			<md-radio-button value="Ubuntu">Ubuntu</md-radio-button> <md-radio-button
				value="Fedora">Fedora</md-radio-button> </md-radio-group> <footer style="">
				<div align="right">
					<md-button ng-disabled="true" class="md-raised md-primary" style="">Back</md-button>
					<md-button class="md-raised md-primary">Next</md-button>
				</div>
			</footer> </md-content>
		</div>
	</div> -->



<!-- </div> -->
